/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font styles and utilities */
body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* first section styles */
.container{
    display: flex;
}
.text-dec{
    font-size: 3em;
    margin-bottom: 15px;
}
.link-buttons{
    width: 130px;
    height: 24px;
    border: 1px solid white;
    background-color: #E02C6D;
    padding: 10px 20px;
    border-radius: 41px;
    font-weight: 700;
}
.link-button, .fas{
    text-decoration: none;
    color: #FFFFFF;
}
.fas{
    position: relative;
    left: 10px;
    top: 2px;
}
.image:hover img{
    transform: scale(1.2);
    transition: transform 2s ease-out;
}
.image{
    width: 440px;
    height: 414px;
}
/* second section styles */
h3{
    text-align: center;
    margin-top: 100px;
}
.all-collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.collections{
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(216, 227, 231);
    margin: 10px 10px;
}
.collections img{
    width: 300px;
    height: 256px;
}
.price{
    font-size: 1.5em;
}
.fa-star{
    color: #FB8200;
}
.rating-count{
    position: relative;
    left: 25px;
    top: 3px;
}
.links{
    text-align: end;
}
.links a{
    font-size: 16px;
    text-decoration: none;
    color: #E02C6D;
}
.click{
    color: #E02C6D;
}
/* footer style */
footer{
    text-align: center;
    color: #FFFFFF;
    background-color: #0A0826;
}
.fab{
    margin: 0px 12px;
}
/*--------
 media quaries
 ---------- */

 /* mobile screen */
 @media only screen and (max-width:576px) {
     .container, .conrainer-2{
         width: 100%;
     }
     .container{
         flex-direction: column;
     }
     .all-collections{
         grid-template-columns: repeat(1, 1fr);
     }
 }
 /* tablet screen */
 @media only screen and (min-width:577px) and (max-width:768px) {
    .container, .conrainer-2{
        width: 100%;
    }
    .all-collections{
        grid-template-columns: repeat(2, 1fr);
    }
 }
